a img #footer #iphone{
    border: none;
}
a{
    text-decoration: none;
    color: #e81c4f;
}

body{
    text-align: center;
    font-family: "Helvetica Neue","Helvetica",sans-serif,"Arial";
    font-size: 15px;
	font-weight: 100;
    margin: 0 auto;
/*    background-image: url(../images/backImage@2x.png);*/
    background-repeat: no-repeat;
    background-position: center;
    max-width: 50em;
    color: #555;
}
h1,h2,strong {
  color: #333;
}

#iphone{
    width:175px;
	height: 357px;
	background: url("../images/iPhone-6s@2x.png");
	background-size: 175px 357px;
    margin-top: 50px;
    left: 60%;
    position: absolute;
}
#sound_button{
    position: absolute;
    top: 0;
    left: 40px;
    margin-left: 0;
    margin-top: 30px;
}
#sound_button img{
    position: absolute;
}

#sound_button_on{
    width: 32px;
    height: 30px;
    opacity: 0
}
#sound_button_off{
    width: 32px;
    height: 30px;
    opacity: 1
}

h1{
    font-weight: 100;
    margin: 0 0 0 0
}

#logo{
    width: 100px;
    height: 100px;
    margin: 10px 0 0 0;
}


#disqus_thread{
    width: 200px;
    margin: 0 0 0 0;
}
#share{
    margin: 400px 0 0 0;
}
#footer{
    background-color: aquamarine;
    padding: 20px 0 20px 0;
    margin: 0 0 0 0;
}

#footer-info{
    list-style: none;
    margin: 0 auto;
}
#footer-info li{
/*    float: left;*/
}

#footer-info li a, #footer li{
/*    color: darkslategray;*/
}

#footer-info li a:hover{
    text-decoration: underline;
}