a img{
    border: none;
}
a{
    text-decoration: none;
}

body{
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 15px;
	font-weight: 100;
}

h1{
    font-weight: 100;
    margin: 0 0 0 0
}

#logo{
    width: 100px;
    height: 100px;
    margin: 10px 0 0 0;
}


#disqus_thread{
    width: 200px;
    margin: 0 0 0 0;
}

#footer{
    list-style: none;
    margin: 0 auto;
}
#footer li{
/*    float: left;*/
}

#footer li a, #footer li{
    color: #777e8a;
}

#footer li a:hover{
    text-decoration: underline;
}