a img #footer #iphone{
    border: none;
}
a{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    color:white;
}

body{
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
	font-weight: 300;
    margin: 0 auto;
    background-image: url(images/backImage@2x.png);
    background-size: 750px 1000px;
    background-repeat: no-repeat;
    background-position:top;
    max-width: 50em;
/*    background: #f5f7f8;*/
    color: #555;
}
h1,h2,strong {
    color: #333;
    font-weight: 300;
}

h4{
    color: darkgray;
    font-weight: 100;
    margin: 0;
}

#container{
    position: relative;
/*    width: 770px;*/
    margin: 30px auto;
}

#discuss{
    background-color:aliceblue;
    margin-top: 100px;
    padding-top: 30px;
    text-align: center;
/*    height: 500px;*/
    height: auto !important;
}
#disqus{
    margin-top: 30px;
    padding-left: 50%;
    margin-left: -200px;
}
#iphone{
    width:215px;
	height: 439px;
	background: url("images/iPhone@2x.png");
	background-size: 215px 439px;
/*    margin-top: 50px;*/
/*    left: 55%;*/
    right: 15%;
    position: absolute;
    top:0;
}
#iphone video{
    position: relative;
	top: 54px;
}
#download{
    
}
#download a{
    width: 135px;
    height: 40px;
    background: url(images/store135x40@2x.png);
    background-size: 135px 40px;
    display: block;
    margin-left: 57px;
    margin-top: 20px;
}
#download404 a{
    width: 135px;
    height: 40px;
    background: url(images/store135x40@2x.png);
    background-size: 135px 40px;
    display: block;
    margin: auto;
}
#home a{
    width: 77px;
    height: 63px;
    background: url(images/home@2x.png);
    background-size: 77px 63px;
    display: block;
    margin: auto;
}
#download span {
	display: none;
}
#download404 span{
	display: none;
}
#home span{
    display: none;
}
#sound_button{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -23em;
    margin-top: 30px;
}
#sound_button img{
    position: absolute;
}

#sound_button_on{
    width: 32px;
    height: 30px;
    opacity: 0
}
#sound_button_off{
    width: 32px;
    height: 30px;
    opacity: 1
}

h1{
    font-size: 25px;
    font-weight: 300;
    margin: 0 0 0 0
}

#logo{
    width: 195.5px;
    height: 100px;
    margin: 0 0 0 0;
}
.trigger{
    width: 60px;
    height: 60px;
    margin: 0;
    opacity: 0.3;
}
#groups{
/*    float: left;*/
/*    margin: 0 auto;*/
/*    margin-top: 0px;*/
    padding-top: 30px;
    margin-left: 100px;
    text-align: left;
/*    left: 0;*/
}
.output{
    padding-left: 10px;
}
#disqus_thread{
    width: 400px;
    margin: 0 0 0 0;
}
#share{
    background-color: aliceblue;
    margin: 0 0 0 0;
}
.fb-like{
/*    margin-bottom: 5px;*/
}
#footer{
    color: black;
    font-weight:300;
    background-color: #8B84B7;
    padding: 20px 0 20px 0;
    margin: 0 0 0 0;
}

#footer-info{
    list-style: none;
    margin: 0 auto;
}
#footer-info li{
/*    float: left;*/
}

#footer-info li a, #footer li{
/*    color: darkslategray;*/
}

#footer-info li a:hover{
    text-decoration: underline;
}

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 568px) {
    body{
        background-size: 750px 1334px;
    }
    #groups{
        margin-left: -125px;
        padding-left: 50%;
    }
    #iphone{
        top: 70px;
    	left: 50%;
        margin-left: -107px;
        position: relative;
    }
    #sound_button{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 40px;
    margin-top: 40px;
    }
}